.main .card{
    border-bottom: 1px solid #0006;
    width: 100%;
    margin: 0 12px;
}
.map.row{
    width: 100%;
    /* border: 1px solid #FC0; */
    display: flex;
    margin: 0 -12px 24px;
    padding: 0 6px;
    align-items: stretch !important;
}
.map>.col-5{
    width: 41.66666%;
    margin: 0 12px;
    padding: 0 12px;
}
.map>.col-7{
    width: 58.33333%;
    margin: 0 12px;
    padding: 0 12px;
}
.map iframe{
    width: 100%;
    height: 100%;
    border: 0;
}
@media (max-width:1024px){
    .main{
        width: calc(100% - 2px);
        margin: 0;
        padding: 0;
        /* border: 1px solid#F00; */
    }
    .map.row{
        width: 100%;
        /* border: 1px solid #FC0; */
        margin: 0 -12px;
    }
    .map>.col-5,
    .map>.col-7{
        width: calc(100% - 58px);
        margin: 0 24px 24px;
    }
    .map>.col-5{
        padding: 0;
    }
    .map iframe{
        min-height: 270px;
    }

    .map.row{
        /* margin: 0 -24px; */
        flex-direction: column;
    }
}